{% extends "ToaTwitterBootstrapBundle::layout.html.twig" %}

{% block content %}
<div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ path("cv_profile") }}">Cv Editor</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="{{ path("cv_profile") }}">Accueil</a></li>
              <li><a href="{{ path("cv_upload_new") }}">Ajouter un CV</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    {% block container %}
    {% endblock %}


{% endblock %}
