{% extends "SkonsoftCvEditorBundle::layout.html.twig" %}

{% block container %}
<div class="well span10">
    <h1>Importer un nouveau CV</h1>

    <form action="{{ path('cv_upload_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <br/>
            <button type="submit" class="btn">Envoyer</button>
        </p>
    </form>
</div>
{% endblock %}